html, body {
	position: relative;
	width: 100%;
	height: 100%;
}
.hidden {
	display: none;
}
.settle_cost{
	position: relative;
	bottom: -webkit-calc(88% - 26px);
	right: 10%;
	text-align: right;
    font-size: 120%;
}
.conquer_cost{
	position: relative;
    bottom: 88%;
	left: 10%;
	text-align: left;
	font-size: 120%;
}
.planetfrontinfo{
    position: absolute;
    top: 0px;
}
.unsettled_costs {
    position: absolute;
	top: 0px;
}
.mini_settle_cost{
	position: relative;
	text-align: right;
    font-size: 80%;
}
.mini_conquer_cost{
	position: relative;
	text-align: left;
	font-size: 80%;
}
.hosted_colonies{
	position: relative;
	bottom: 30%;
	text-align: center;
    font-size: 120%;
}
.unsettled > img{
	width: auto;
	height: 100%;
}
.unsettled {
	height: 95%;
}
.mini_unsettled > img{
	width: auto;
	height: 100%;
}
.mini_unsettled {
	height: 100%;
}
.planetfront {
	font-weight: bolder;
	font-size: 50%;
	height: 100%;
	background-repeat: no-repeat;
}
.planetfront > div > img {
	flex-direction: column;
	height: 2em;
	background-repeat: no-repeat;
}
.planetfront > img {
	height: 100%;
}
.pass {
	background-repeat: no-repeat;
	height: 50px;
	min-width: 200px;
	background-image: url("../images/EMbutton200.png");
	align-self: center;
	text-align: center;
}
.pilecount{
	position:relative;
	font-size: 200%;
	bottom:20%;
}
.messagetoplayer{
	text-align: center;
	width:100%;
	position: absolute;
	top:75%;
}
body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	color:rgb(49, 158, 177);
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}
.selectable{
	border: solid rgb(114, 210, 223);
	border-width: 4px;
	border-left-width: 2px;
	border-right-width: 2px;
}
.selected{
	border: solid rgb(50, 190, 132);
	border-width: 4px;
	border-left-width: 2px;
	border-right-width: 2px;
}


a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	background-color: #f4f4f4;
	outline: none;
}

.flex {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.playerinfo {
	display: flex;
	flex-direction: row;
	justify-content:flex-start;
	width: 100%;
	height: 10%;
}
.playingfield {
   overflow: hidden;
   height:100%;
   width: 100%;
   background-image: url("../images/embackground.png");
   background-repeat: no-repeat;
   background-size: cover;
}
.options, .talloptions{
	background-image: url("../images/embackground.png");
	background-repeat: no-repeat;
	display:flex; 
	flex-direction:row; 
	justify-content: space-around;
	position: absolute; 
	overflow-x: scroll;
	right:10%;
	top: 50%;
	height: 15%;
	width:80%;
	font-size: 150%;
}
.talloptions{
	height:30%;
}
.ownedcards{
	display: flex;
	flex-direction: row;
	height:20%;
	position: absolute;
	top:80%;
}
.hand{
	margin: auto;
	display: flex;
	flex-direction: row;
	max-width: 90%;
	max-height: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
}
.hand > img{
	position:relative;
	width:auto;
	
}
.deck{
	max-width: 5%;
	margin-right:auto;
}
.discard{
	max-width: 5%;
	margin-left:auto;
}

button:active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
.zone {
    width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	display:flex;
	flex-direction: row;
}
.centerrow{
	height:40%;
	position:absolute;
	top:15%;
}
.researchrow{
	height:40%;
}
.researchrow > div{
	height:95%;
}
.researchrow > div >img{
	width: auto;
	height: 100%;
}
.centerrow > div > img{
	height:100%;
}
.playedcards{
	height:20%;
	overflow-x:scroll;
	position:absolute;
	top:55%;
}
.minicard{
	height:100%;
}
.bordered{
	border: solid #000;
	border-width: 1px;
}
::-webkit-scrollbar { 
    display: none;  
}
.playercountselector > p {
	height:33%; 
	text-align: center; 
	font-size: 300%;
	background-color: rgb(34, 26, 59);
	border: solid #000;
	border-width: 1px;
}
.playercountselector > input {
	height:33%; 
	text-align: center; 
	width:100%;
	font-size: 300%;
	background-color: rgb(34, 26, 59);
	border: solid #000;
	border-width: 1px;
	color: rgb(49, 158, 177);
	padding: 0px;
	margin:0px;
}
.passtoplayer{
	height:80%;
	width:100%;
	top:10%;
	border: solid #000;
	border-width: 1px;
	text-align: center;
	font-size: 300%;
	color:white;
	background-color: rgb(34, 26, 59);
}